@{
    ViewBag.Title = "Contactos";
}
<h2>@ViewBag.Title.</h2>


<address>
    <strong>Rafael Henriques:</strong> a21250203@isec.pt <br/>
    <strong>Rui Teixeira:</strong> a21250189@isec.pt<br/>
</address>