@{
    ViewBag.Title = "Home Page";
}
<img src="https://www.activecentres.org/media/medialibrary/2013/12/CrechePage.jpg" alt="Spaces4Children Photo" />

<div class="jumbotron">
    <h1>Spaces4Children</h1>
    <p class="lead">Descubra onde deixar a sua criança a crescer em tamanho, alma e coração.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Onde deixar o meu filho?</h2>
        <p>
            Registe-se e procure a instituição a seu gosto,
        </p>
        <p>
            @Html.ActionLink("Instituições", "Index", "Institutions")
        </p>
    </div>
    <div class="col-md-4">
        <h2>Onde começar?</h2>
        <p>
             O primeiro passo passará por registar uma nova conta, click no link abaixo
        </p>
        <p>
            @Html.ActionLink("Registar-me", "Register", "Account")
        </p>
    </div>
    <div class="col-md-4">
        <h2>Como funciona o site? </h2>
        <p>
            Estamos disponíveis para responder a qualquer tipo de questões, para mais informações
            contacte-nos
        </p>
        <p>
            @Html.ActionLink("Contactos", "Contact", "Home")
        </p>
    </div>
</div>